{% extends 'base.html' %}
{% load static %}

{% block title %}Sign In | Hop & Barley{% endblock %}

{% block content %}
<main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-container--login">
      <div class="Legend">
        <h1 class="auth-title">Sign In</h1>
      </div>

      <form method="post" action="" class="auth-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="InputField">
          {{ form.username.label_tag }}
          {{ form.username }}
          {{ form.username.errors }}
        </div>
        <div class="InputField">
          {{ form.password.label_tag }}
          {{ form.password }}
          {{ form.password.errors }}
        </div>

        <div class="ButtonGroup">
          <button type="submit" class="button button--primary">Sign In</button>
        </div>

        <div class="TextLink">
          <a href="#">Forgot password?</a>
        </div>
      </form>

      <p class="auth-switch">Don’t have an account? <a href="{% url 'register' %}">Sign up</a></p>
    </div>
  </div>
</main>
{% endblock %}